* {
	font-family: roboto slab;
}

body {
	background-color: black;
}

h1 {
	font-family: roboto slab;
	font-size: 48px;
	margin-top: 1vh;
	margin-left: 1vw;
	color: white;
}

label {
	margin-left: 1vw;
	font-size: 18px;
	font-family: roboto slab;
	color: white;
}

input {
	margin-left: 10px;
	padding-left: 5px;
	border-radius: 5px;
}

input:focus {
	outline: none;
}

select {
	margin-left: 1vw;
	height: 25px;
	color: black;
	border-radius: 5px;
}

select:focus {
	outline: none;
}

p:first-child {
	grid-column: 1 / 3;
	margin-left: 15px;
	margin-top: 10px;
	margin-right: 15px;
}

p {
	grid-column: 1 / 3;
	margin-left: 15px;
	margin-right: 15px;
}

button:hover {
	cursor: pointer;
}

#input-length {
	width: 75px;
}

#header-info > button {
	margin-left: 1vw;
	height: 25px;
	border-radius: 5px;
}

#header-info > button:focus {
	outline: none;
}

#container {
	display: grid;
	grid-template-rows: 1fr 1fr 12fr;
	height: 30vh;
	border-top: 1vh solid black;
	border-left: 1vh solid black;
	border-right: 1vh solid black;
}

#header-title {
	grid-row: 1 / 2;
}

#header-info {
	margin-top: 1vh;
	grid-row: 2 / 3;
}

#book-display {
	display: grid;
	grid-row: 3 / 4;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 1vh;
	margin: 2vh 2vh 0 2vh;
	border-color: black;
}

#book-display > div {
	display: grid;
	background: #FFF;
	color: black;
	border: 1px solid black;
	font: 16px roboto slab;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	grid-template-rows: repeat(5, 1fr);
}

.display-btn {
	grid-row: 5 / 6;
	background: none;
	border: none;
	font-weight: 600;
}

.display-btn:focus {
	outline: none;
}

.delete-btn:hover {
	color: red;
}